<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.liyayu.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".TestOneActivity" />
        <activity android:name=".TestTwoActivity" />
        <activity android:name=".recycleDemo.RecycleActivity"></activity>
        <activity android:name=".rippleDemo.RippleActivity">

        </activity>
        <activity android:name=".transitionDemo.DetailsActivity" />
        <activity
            android:name=".transitionDemo.TransitionMainActivity"
            android:theme="@style/AppTheme.TransitionDemo"></activity>
        <activity android:name=".imageViewTintDemo.TestImgTintActivity" />
        <activity android:name=".imageViewTintDemo.NewActivityForImg" />
        <activity android:name=".bigImgDemo.LineImagesActivity" />
        <activity android:name=".bigImgDemo.ListImageActivity" />
        <activity android:name=".bigImgDemo.MainActivity" />
        <activity android:name=".bigImgDemo.NetworkDemoActivity" />
        <activity android:name=".bigImgDemo.SingleDemoActivity" />
        <activity android:name=".bigImgDemo.ViewPagerDemoActivity" />
        <activity
            android:name=".coordinatorlayoutDemo.CoordinatorLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".coordinatorlayoutDemo.TabViewPageActivity" />
        <activity android:name=".coordinatorlayoutDemo.SearchResultActivity">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".fontDemo.FontActivity" />
        <activity android:name=".hotfixRobustDemo.RobustMainActivity" />
        <activity android:name=".hotfixRobustDemo.RobustShowActivity" />
    </application>

</manifest>